:root{
    --themeRed:#e43a47;    
    --gray:#efefef;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
* :focus{
    outline: none;
}
body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/img/bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'roboto', sans-serif;
}
.form{
    width: 400px;
    height: auto;
    color:var(--themeRed);
    font-family: 'roboto',sans-serif;
}
.heading{
    text-transform: capitalize;
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    margin-bottom: 50px;
    opacity: 0;
}
input,
.submit-btn{
    opacity: 0;
    width: 80;
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
    padding: 15px;
    transition: .5s;
    text-transform: capitalize;
}
input::placeholder{
    color: #fff;

}
input:focus,
.submit-btn:hover:hover{
    background: rgb(243, 99, 2);
    color: #000;

}
input:focus:placeholder{
    color: #000;
}
.submit-btn{
    width: auto;
    padding: 0 20px;
    cursor: pointer;
    margin: 50px auto 0;
    opacity: 0;

}
.link{
      opacity: 0;
      text-align: center;
      text-transform: capitalize;
      text-decoration: none;
      color: hsla(110, 97%, 57%, 0.69);  
      display: block;
      margin: 30px auto;      
}
.link:hover{
    color:var(--themeRed);
}
.alert-box{
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
    background: rgb(255,119,119);
    border-top: 10px solid rgb(255,37,37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-family: 'roboto',sans-serif;
    text-align: center;
    transition: 1s;
}
.welcome-back{
    color: hsl(48, 45%, 89%);
    font-family:'roboto',Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    position: absolute;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 40px;
    top: 5%;

}
.welcome-back:hover{
    color: rgba(106, 148, 236, 0.411);
}