@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');


*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: #fff2fe;
}

section{
    padding: 5rem 10%;
}

.heading{
    top: 4;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    text-transform: capitalize;
    color: rgba(247, 211, 9, 0.712);
}

.blog .box-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;    
}

.blog .box-container .box:hover .image img{
    transform: scale(1.1);
}

.blog .box-container .box.shadow{
    box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}


.blog .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    position: relative;
}

.blog .box-container .box .image img{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; 
}

.blog .box-container .box .image h3{
    background-color: #fff;
    color: #444;
    position: absolute;
    top: 2rem;
    left: 1rem;
    padding: .5rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 15px;
}

.blog .box-container .box .image h3 i{
    color: #bd18b4;
}

.blog .box-container .box .content{
    padding: 2rem;
    background-color: #fff;
}

.blog .box-container .box .content h3{
    font-size: 2rem;
}

.blog .box-container .box .content p{
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 2;
    color: #777;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    border: 0.1rem solid #bd18b4;
    background: #ffeeff;
    color: #bd18b4;
    cursor: pointer;
    text-transform: capitalize;
}

.btn:hover{
    background: #bd18b4;
    color: #ffeeff;
}
/*Navigation*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    border-bottom: 1px solid #fff;
}
nav .logo{
    padding: 22px 20px;
    height: 80px;
    float: left;
    margin: 0%;
    font-size: 15px;
    font-weight: bold;
    text-transform:uppercase;
    color: #fff;
}
nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
nav ul li a:hover{
    background: rgba(0,0,0,0.7);
    border-radius: 6px;

}